// scss/components/_card.scss
@use '../abstracts/variables' as v;

.card {
  background-color: v.$color-white; // Fondo blanco para destacar
  border: 1px solid rgba(v.$color-primary, 0.1); // Borde sutil rosa

  &__title {
    color: v.$color-primary; // Título rosa fuerte
  }

  &__description {
    color: v.$color-text-main;
  }
}