// Brand Colors
$color-primary: #3498db;   // Celeste
$color-secondary: #10b981; // Verde
$color-white: #ffffff;

// UI Elements
$color-bg: $color-white;
$color-text: #333333;

// Assets
$radius: 12px;
$shadow: 0 4px 10px rgba(0, 0, 0, 0.1);